In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv("C:/Users/Thamizhiniyan/Desktop/pandasdataset/multi_index_warehouses.csv")

In [3]:
df.head()

      Unnamed: 0 Unnamed: 1 Unnamed: 2     2010   2010.1     2011   2011.1     2012   2012.1     2013   2013.1     2014   2014.1     2015   2015.1     2016   2016.1     2017   2017.1     2018   2018.1     2019   2019.1
0            NaN        NaN        NaN  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec  Jan-Jun  Jul-Dec
1            NaN        NaN        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2  NY Warehouses    Buffalo     Mobile       26       12       10       23       18       10       10       26       16       18       20       21       20       26       29       20       11       21       25       16
3  NY Warehouses    Buffalo         TV       19       22       27       19       27       12       24       28       27       28       10       16       25       26       20       25       10       27       20       20
4  NY Warehouses    Buffalo         AC       16       24       20       23       29       15       10       20       16       16       25       21       19       12       21       19       11       28       19       19

In [4]:
# my header is inappropriate and it lies at index 0,1 
# my index is column 0,1,2
# so lets makes the changes accordingly

In [5]:
# lets once again call load the dataset with changes

In [6]:
df = pd.read_csv("C:/Users/Thamizhiniyan/Desktop/pandasdataset/multi_index_warehouses.csv",index_col= [0,1,2],header=[0,1])

In [7]:
df

                                      2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
NY Warehouses Buffalo       Mobile      26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                            TV          19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
                            AC          16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
              Ithaca        Mobile      10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                            TV          13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
                            AC          18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
              Beacon        Mobile      10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                            TV          12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
                            AC          13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
CA Warehouses San Francisco Mobile      15      25      18      16      13      13      19      15      21      23      11      26      27      16      16      18      29      22      25      20
                            TV          28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14
                            AC          10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
              Los Angeles   Mobile      29      15      14      28      29      27      18      27      16      29      10      15      20      17      11      14      25      11      29      19
                            TV          23      14      18      21      10      15      11      19      25      11      12      11      23      20      22      21      21      17      15      10
                            AC          27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
              San Diego     Mobile      14      27      24      16      23      20      11      23      29      16      18      14      15      16      24      13      15      24      12      13
                            TV          19      24      17      17      11      12      22      21      18      29      22      19      13      28      18      29      10      19      22      17
                            AC          11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
TX Warehouses Houston       Mobile      27      17      16      18      21      21      15      16      23      25      11      22      28      20      22      26      10      18      22      27
                            TV          11      18      22      21      26      18      18      12      15      26      22      11      18      29      28      24      22      24      25      17
                            AC          12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19
              Arlington     Mobile      29      10      12      13      13      25      10      19      10      16      12      15      13      15      27      18      21      27      15      29
                            TV          15      20      22      25      23      20      23      21      13      26      28      28      21      16      22      21      14      12      16      20
                            AC          21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
              Austin        Mobile      17      11      29      25      20      26      19      20      21      17      26      20      10      10      13      27      23      29      12      24
                            TV          27      11      14      11      23      22      27      10      28      29      14      13      17      18      10      16      25      24      23      21
                            AC          15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16

In [8]:
df.shape

(27, 20)

In [9]:
# lets sort the df according to index
df.sort_index(inplace =True)

In [10]:
df.head()

                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
                                 Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles AC          27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
                          Mobile      29      15      14      28      29      27      18      27      16      29      10      15      20      17      11      14      25      11      29      19
                          TV          23      14      18      21      10      15      11      19      25      11      12      11      23      20      22      21      21      17      15      10
              San Diego   AC          11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
                          Mobile      14      27      24      16      23      20      11      23      29      16      18      14      15      16      24      13      15      24      12      13

In [11]:
# printing the index names of the columns
print("level0:",df.index.levels[0])
print("level1:",df.index.levels[1])
print("level2:",df.index.levels[2])

level0: Index(['CA Warehouses', 'NY Warehouses', 'TX Warehouses'], dtype='object')
level1: Index(['Arlington', 'Austin', 'Beacon', 'Buffalo', 'Houston', 'Ithaca', 'Los Angeles', 'San Diego', 'San Francisco'], dtype='object')
level2: Index(['AC', 'Mobile', 'TV'], dtype='object')

In [12]:
# lets look at index names
df.index.names  ## --> it is frozen list

FrozenList([None, None, None])

In [13]:
#lets name the index 
df.index.names = ["State", "City", "Products"]

In [14]:
df.index.names

FrozenList(['State', 'City', 'Products'])

In [15]:
#lets name the columns,
df.columns.names

FrozenList([None, None])

In [16]:
df.columns.names =["Year","Sem"]

In [17]:
df.columns.names

FrozenList(['Year', 'Sem'])

In [18]:
# indexing concepts in multi-indexing :
df.loc[('NY Warehouses'):,:] ## --> indexing all the rows from NY warehouses till end and all the rows

Year                                2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Products
NY Warehouses Beacon    AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
                        Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                        TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo   AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
                        Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                        TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca    AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
                        Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                        TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
TX Warehouses Arlington AC            21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
                        Mobile        29      10      12      13      13      25      10      19      10      16      12      15      13      15      27      18      21      27      15      29
                        TV            15      20      22      25      23      20      23      21      13      26      28      28      21      16      22      21      14      12      16      20
              Austin    AC            15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16
                        Mobile        17      11      29      25      20      26      19      20      21      17      26      20      10      10      13      27      23      29      12      24
                        TV            27      11      14      11      23      22      27      10      28      29      14      13      17      18      10      16      25      24      23      21
              Houston   AC            12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19
                        Mobile        27      17      16      18      21      21      15      16      23      25      11      22      28      20      22      26      10      18      22      27
                        TV            11      18      22      21      26      18      18      12      15      26      22      11      18      29      28      24      22      24      25      17

In [19]:
# let me trry to get the any value using thee index and column name by indexing
#df.loc[(row),(columns)]

In [20]:
df.loc[("NY Warehouses","Buffalo","Mobile"),(2010,"Jan-Jun")] 
# it gives 26 ,but we get the Key Error #KeyError: (2010, 'Jan-Jun')

KeyError: (2010, 'Jan-Jun')

In [21]:
# we need need to chage the datatype of the columns 
df.columns.levels

FrozenList([['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'], ['Jan-Jun', 'Jul-Dec']])

In [22]:
change_col_dtype = df.columns.levels[0].astype(int)
df.columns.set_levels(levels = change_col_dtype,level =0,inplace =True)

C:\Users\Thamizhiniyan\AppData\Local\Temp\ipykernel_3644\4191818381.py:2: FutureWarning: inplace is deprecated and will be removed in a future version.
  df.columns.set_levels(levels = change_col_dtype,level =0,inplace =True)

In [23]:
df.loc[("NY Warehouses","Buffalo","Mobile"),(2010,"Jan-Jun")]

26

In [24]:
df.columns.levels

FrozenList([[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], ['Jan-Jun', 'Jul-Dec']])

In [25]:
# lets perform spliting with the multi indexing concepts
# rows ,columns
# ():(),():()

In [26]:
df.loc[("NY Warehouses"):("TX Warehouses"),(2010):(2011)]

Year                                2010            2011
Sem                              Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Products
NY Warehouses Beacon    AC            13      11      23      13
                        Mobile        10      17      24      27
                        TV            12      22      26      26
              Buffalo   AC            16      24      20      23
                        Mobile        26      12      10      23
                        TV            19      22      27      19
              Ithaca    AC            18      17      19      28
                        Mobile        10      28      27      22
                        TV            13      13      11      15
TX Warehouses Arlington AC            21      18      13      22
                        Mobile        29      10      12      13
                        TV            15      20      22      25
              Austin    AC            15      28      28      11
                        Mobile        17      11      29      25
                        TV            27      11      14      11
              Houston   AC            12      25      18      12
                        Mobile        27      17      16      18
                        TV            11      18      22      21

In [27]:
#lets get only NY

In [28]:
df.loc[("NY Warehouses"),:]
# or
df.loc[("NY Warehouses")]

Year                2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City    Products
Beacon  AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
        Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
        TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
Buffalo AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
        Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
        TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
Ithaca  AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
        Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
        TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28

In [29]:
df.loc[("NY Warehouses","Buffalo","Mobile"):("TX Warehouses","Arlington","Tv"),(2010,"Jul-Dec"):(2011,"Jan-Jun")]

Year                                2010    2011
Sem                              Jul-Dec Jan-Jun
State         City      Products
NY Warehouses Buffalo   Mobile        12      10
                        TV            22      27
              Ithaca    AC            17      19
                        Mobile        28      27
                        TV            13      11
TX Warehouses Arlington AC            18      13
                        Mobile        10      12
                        TV            20      22

## Xs cross section

In [30]:
df.xs(("AC"),level=("Products"))

Year                           2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                         Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City
CA Warehouses Los Angeles        27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
              San Diego          11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
              San Francisco      10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
NY Warehouses Beacon             13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
              Buffalo            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
              Ithaca             18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
TX Warehouses Arlington          21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
              Austin             15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16
              Houston            12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19

In [31]:
df.xs(("AC"),level=("Products"),drop_level = False)

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC            27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
              San Diego     AC            11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
              San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
NY Warehouses Beacon        AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
              Buffalo       AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
              Ithaca        AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
TX Warehouses Arlington     AC            21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
              Austin        AC            15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16
              Houston       AC            12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19

In [32]:
df.xs(("NY Warehouses","AC"),level=("State","Products"),drop_level = False)

Year                              2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Products
NY Warehouses Beacon  AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
              Buffalo AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
              Ithaca  AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22

In [33]:
df.xs(("Jan-Jun"),level=("Sem"),axis=1,drop_level =False)

Year                                    2010    2011    2012    2013    2014    2015    2016    2017    2018    2019
Sem                                  Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Products
CA Warehouses Los Angeles   AC            27      20      20      18      15      27      12      23      29      25
                            Mobile        29      14      29      18      16      10      20      11      25      29
                            TV            23      18      10      11      25      12      23      22      21      15
              San Diego     AC            11      10      24      24      18      29      16      12      10      20
                            Mobile        14      24      23      11      29      18      15      24      15      12
                            TV            19      17      11      22      18      22      13      18      10      22
              San Francisco AC            10      10      17      28      27      19      22      16      21      15
                            Mobile        15      18      13      19      21      11      27      16      29      25
                            TV            28      15      28      27      12      13      18      17      10      19
NY Warehouses Beacon        AC            13      23      20      10      14      28      21      29      29      20
                            Mobile        10      24      25      22      10      25      29      28      22      20
                            TV            12      26      15      15      12      17      21      24      26      19
              Buffalo       AC            16      20      29      10      16      25      19      21      11      19
                            Mobile        26      10      18      10      16      20      20      29      11      25
                            TV            19      27      27      24      27      10      25      20      10      20
              Ithaca        AC            18      19      28      21      25      18      23      22      11      19
                            Mobile        10      27      18      22      14      21      27      15      21      29
                            TV            13      11      12      27      10      20      17      13      15      15
TX Warehouses Arlington     AC            21      13      16      21      22      28      17      29      15      19
                            Mobile        29      12      13      10      10      12      13      27      21      15
                            TV            15      22      23      23      13      28      21      22      14      16
              Austin        AC            15      28      11      15      29      20      20      14      26      21
                            Mobile        17      29      20      19      21      26      10      13      23      12
                            TV            27      14      23      27      28      14      17      10      25      23
              Houston       AC            12      18      26      21      22      25      21      21      28      29
                            Mobile        27      16      21      15      23      11      28      22      10      22
                            TV            11      22      26      18      15      22      18      28      22      25

# take()

In [34]:
df.take([0,3,6]) # simply taking the AC of the CA without using XS

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC            27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
              San Diego     AC            11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
              San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23

In [35]:
df.xs(("CA Warehouses","AC"),level =("State","Products"),axis=0,drop_level =False) # same as the above

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC            27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
              San Diego     AC            11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
              San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23

# Slice()

In [36]:
# slice(stop)
# slice(start,stop,step)
# df.loc[(rows),(columns)]
# (rows) ---> (slice(level =0),slice(level =1),slice(level =2),......) #how rows defined ((),(),(),....) 
# (columns) ----> (slice(level =0),slice(level =1),.......) # how columns defined

In [37]:
df.loc[(slice("None"),slice("Beacon","Ithach"),"AC"),(slice(2010,2015),slice("Jan-Jun"))]

Year                              2010    2011    2012    2013    2014    2015
Sem                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City    Products
NY Warehouses Beacon  AC            13      23      20      10      14      28
              Buffalo AC            16      20      29      10      16      25
              Ithaca  AC            18      19      28      21      25      18

In [38]:
df

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC            27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
                            Mobile        29      15      14      28      29      27      18      27      16      29      10      15      20      17      11      14      25      11      29      19
                            TV            23      14      18      21      10      15      11      19      25      11      12      11      23      20      22      21      21      17      15      10
              San Diego     AC            11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
                            Mobile        14      27      24      16      23      20      11      23      29      16      18      14      15      16      24      13      15      24      12      13
                            TV            19      24      17      17      11      12      22      21      18      29      22      19      13      28      18      29      10      19      22      17
              San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
                            Mobile        15      25      18      16      13      13      19      15      21      23      11      26      27      16      16      18      29      22      25      20
                            TV            28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14
NY Warehouses Beacon        AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
                            Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                            TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo       AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
                            Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                            TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca        AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
                            Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                            TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
TX Warehouses Arlington     AC            21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
                            Mobile        29      10      12      13      13      25      10      19      10      16      12      15      13      15      27      18      21      27      15      29
                            TV            15      20      22      25      23      20      23      21      13      26      28      28      21      16      22      21      14      12      16      20
              Austin        AC            15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16
                            Mobile        17      11      29      25      20      26      19      20      21      17      26      20      10      10      13      27      23      29      12      24
                            TV            27      11      14      11      23      22      27      10      28      29      14      13      17      18      10      16      25      24      23      21
              Houston       AC            12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19
                            Mobile        27      17      16      18      21      21      15      16      23      25      11      22      28      20      22      26      10      18      22      27
                            TV            11      18      22      21      26      18      18      12      15      26      22      11      18      29      28      24      22      24      25      17

In [39]:
df.loc[(slice(None),slice(None),["TV","AC","Mobile"]),(slice(2019),slice('Jan-Jun'))]

Year                                    2010    2011    2012    2013    2014    2015    2016    2017    2018    2019
Sem                                  Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Products
CA Warehouses Los Angeles   TV            23      18      10      11      25      12      23      22      21      15
              San Diego     TV            19      17      11      22      18      22      13      18      10      22
              San Francisco TV            28      15      28      27      12      13      18      17      10      19
NY Warehouses Beacon        TV            12      26      15      15      12      17      21      24      26      19
              Buffalo       TV            19      27      27      24      27      10      25      20      10      20
              Ithaca        TV            13      11      12      27      10      20      17      13      15      15
TX Warehouses Arlington     TV            15      22      23      23      13      28      21      22      14      16
              Austin        TV            27      14      23      27      28      14      17      10      25      23
              Houston       TV            11      22      26      18      15      22      18      28      22      25
CA Warehouses Los Angeles   AC            27      20      20      18      15      27      12      23      29      25
              San Diego     AC            11      10      24      24      18      29      16      12      10      20
              San Francisco AC            10      10      17      28      27      19      22      16      21      15
NY Warehouses Beacon        AC            13      23      20      10      14      28      21      29      29      20
              Buffalo       AC            16      20      29      10      16      25      19      21      11      19
              Ithaca        AC            18      19      28      21      25      18      23      22      11      19
TX Warehouses Arlington     AC            21      13      16      21      22      28      17      29      15      19
              Austin        AC            15      28      11      15      29      20      20      14      26      21
              Houston       AC            12      18      26      21      22      25      21      21      28      29
CA Warehouses Los Angeles   Mobile        29      14      29      18      16      10      20      11      25      29
              San Diego     Mobile        14      24      23      11      29      18      15      24      15      12
              San Francisco Mobile        15      18      13      19      21      11      27      16      29      25
NY Warehouses Beacon        Mobile        10      24      25      22      10      25      29      28      22      20
              Buffalo       Mobile        26      10      18      10      16      20      20      29      11      25
              Ithaca        Mobile        10      27      18      22      14      21      27      15      21      29
TX Warehouses Arlington     Mobile        29      12      13      10      10      12      13      27      21      15
              Austin        Mobile        17      29      20      19      21      26      10      13      23      12
              Houston       Mobile        27      16      21      15      23      11      28      22      10      22

In [40]:
df.loc[(["CA Warehouses","NY Warehouses"],slice(None),["Mobile","AC","TV"]),(slice(2019),slice("Jan-Jun"))]

Year                                    2010    2011    2012    2013    2014    2015    2016    2017    2018    2019
Sem                                  Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Products
CA Warehouses Los Angeles   Mobile        29      14      29      18      16      10      20      11      25      29
              San Diego     Mobile        14      24      23      11      29      18      15      24      15      12
              San Francisco Mobile        15      18      13      19      21      11      27      16      29      25
              Los Angeles   AC            27      20      20      18      15      27      12      23      29      25
              San Diego     AC            11      10      24      24      18      29      16      12      10      20
              San Francisco AC            10      10      17      28      27      19      22      16      21      15
              Los Angeles   TV            23      18      10      11      25      12      23      22      21      15
              San Diego     TV            19      17      11      22      18      22      13      18      10      22
              San Francisco TV            28      15      28      27      12      13      18      17      10      19
NY Warehouses Beacon        Mobile        10      24      25      22      10      25      29      28      22      20
              Buffalo       Mobile        26      10      18      10      16      20      20      29      11      25
              Ithaca        Mobile        10      27      18      22      14      21      27      15      21      29
              Beacon        AC            13      23      20      10      14      28      21      29      29      20
              Buffalo       AC            16      20      29      10      16      25      19      21      11      19
              Ithaca        AC            18      19      28      21      25      18      23      22      11      19
              Beacon        TV            12      26      15      15      12      17      21      24      26      19
              Buffalo       TV            19      27      27      24      27      10      25      20      10      20
              Ithaca        TV            13      11      12      27      10      20      17      13      15      15

In [41]:
df

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC            27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
                            Mobile        29      15      14      28      29      27      18      27      16      29      10      15      20      17      11      14      25      11      29      19
                            TV            23      14      18      21      10      15      11      19      25      11      12      11      23      20      22      21      21      17      15      10
              San Diego     AC            11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
                            Mobile        14      27      24      16      23      20      11      23      29      16      18      14      15      16      24      13      15      24      12      13
                            TV            19      24      17      17      11      12      22      21      18      29      22      19      13      28      18      29      10      19      22      17
              San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
                            Mobile        15      25      18      16      13      13      19      15      21      23      11      26      27      16      16      18      29      22      25      20
                            TV            28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14
NY Warehouses Beacon        AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
                            Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                            TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo       AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
                            Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                            TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca        AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
                            Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                            TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
TX Warehouses Arlington     AC            21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
                            Mobile        29      10      12      13      13      25      10      19      10      16      12      15      13      15      27      18      21      27      15      29
                            TV            15      20      22      25      23      20      23      21      13      26      28      28      21      16      22      21      14      12      16      20
              Austin        AC            15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16
                            Mobile        17      11      29      25      20      26      19      20      21      17      26      20      10      10      13      27      23      29      12      24
                            TV            27      11      14      11      23      22      27      10      28      29      14      13      17      18      10      16      25      24      23      21
              Houston       AC            12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19
                            Mobile        27      17      16      18      21      21      15      16      23      25      11      22      28      20      22      26      10      18      22      27
                            TV            11      18      22      21      26      18      18      12      15      26      22      11      18      29      28      24      22      24      25      17

# detail from San Fransisco

In [42]:
san_franc_sale = df.xs(("San Francisco"),level =("City"),axis =0,drop_level =False)

In [43]:
san_franc_sale

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
                            Mobile        15      25      18      16      13      13      19      15      21      23      11      26      27      16      16      18      29      22      25      20
                            TV            28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14

In [44]:
print("total sale of all products over a decade:",san_franc_sale.sum().sum())

total sale of all products over a decade: 1140

In [45]:
print("Total sale of Tv alone:",san_franc_sale.xs(("TV"),level=("Products")).sum().sum())

Total sale of Tv alone: 398

In [46]:
print("Total sale of AC alone:",san_franc_sale.xs(("AC"),level=("Products")).sum().sum())

Total sale of AC alone: 354

In [47]:
print("Total sale of Mobile alone:",san_franc_sale.xs(("Mobile"),level=("Products")).sum().sum())

Total sale of Mobile alone: 388

In [48]:
398+354+388

1140

## 1st quater of all years

In [49]:
Q1_SF_sale = san_franc_sale.loc[(slice(None),slice(None),slice(None)),(slice(None),slice("Jan-Jun"))]

In [50]:
print("AC sale in 1stQ",Q1_SF_sale.xs(("AC"),level=("Products")).sum().sum())
print("TV sale in 1stQ",Q1_SF_sale.xs(("TV"),level=("Products")).sum().sum())
print("Mobile sale in 1stQ",Q1_SF_sale.xs(("Mobile"),level=("Products")).sum().sum())

AC sale in 1stQ 185
TV sale in 1stQ 187
Mobile sale in 1stQ 194

In [51]:
#san_franc_sale.loc[(()),(slice(None),slice("Jan-Jun"))]

In [52]:
#df.loc[(slice("TX Warehouse"),slice("San Francisco","Arlington"),["TV","Mobile"]),:]

# spliting from NY warehouse mobile of buffalo to TX warehouse Arlington`

In [53]:
df.loc[("NY Warehouses","Buffalo","Mobile"):("TX Warehouses","Arlington","Tv"),(2010,"Jul-Dec"):(2011,"Jan-Jun")]

Year                                2010    2011
Sem                              Jul-Dec Jan-Jun
State         City      Products
NY Warehouses Buffalo   Mobile        12      10
                        TV            22      27
              Ithaca    AC            17      19
                        Mobile        28      27
                        TV            13      11
TX Warehouses Arlington AC            18      13
                        Mobile        10      12
                        TV            20      22

In [54]:
df

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC            27      24      20      21      20      29      18      29      15      17      27      25      12      23      23      14      29      25      25      16
                            Mobile        29      15      14      28      29      27      18      27      16      29      10      15      20      17      11      14      25      11      29      19
                            TV            23      14      18      21      10      15      11      19      25      11      12      11      23      20      22      21      21      17      15      10
              San Diego     AC            11      22      10      29      24      24      24      11      18      27      29      10      16      28      12      19      10      15      20      15
                            Mobile        14      27      24      16      23      20      11      23      29      16      18      14      15      16      24      13      15      24      12      13
                            TV            19      24      17      17      11      12      22      21      18      29      22      19      13      28      18      29      10      19      22      17
              San Francisco AC            10      14      10      16      17      20      28      25      27      11      19      18      22      13      16      13      21      16      15      23
                            Mobile        15      25      18      16      13      13      19      15      21      23      11      26      27      16      16      18      29      22      25      20
                            TV            28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14
NY Warehouses Beacon        AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
                            Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                            TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo       AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
                            Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                            TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca        AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
                            Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                            TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
TX Warehouses Arlington     AC            21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
                            Mobile        29      10      12      13      13      25      10      19      10      16      12      15      13      15      27      18      21      27      15      29
                            TV            15      20      22      25      23      20      23      21      13      26      28      28      21      16      22      21      14      12      16      20
              Austin        AC            15      28      28      11      11      12      15      25      29      16      20      16      20      14      14      13      26      27      21      16
                            Mobile        17      11      29      25      20      26      19      20      21      17      26      20      10      10      13      27      23      29      12      24
                            TV            27      11      14      11      23      22      27      10      28      29      14      13      17      18      10      16      25      24      23      21
              Houston       AC            12      25      18      12      26      23      21      12      22      29      25      15      21      26      21      26      28      23      29      19
                            Mobile        27      17      16      18      21      21      15      16      23      25      11      22      28      20      22      26      10      18      22      27
                            TV            11      18      22      21      26      18      18      12      15      26      22      11      18      29      28      24      22      24      25      17

In [55]:
df.loc[("CA Warehouses","San Francisco","TV"):("TX Warehouses","Arlington","Mobile"),:]

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses San Francisco TV            28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14
NY Warehouses Beacon        AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
                            Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                            TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo       AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
                            Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                            TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca        AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
                            Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                            TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
TX Warehouses Arlington     AC            21      18      13      22      16      18      21      22      22      11      28      13      17      10      29      15      15      22      19      11
                            Mobile        29      10      12      13      13      25      10      19      10      16      12      15      13      15      27      18      21      27      15      29

# NY sale_report of 10years

In [56]:
NY_total_sale_10y_report = df.xs(("NY Warehouses"),level=("State"),drop_level=False)

In [57]:
NY_total_sale_10y_report

Year                              2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Products
NY Warehouses Beacon  AC            13      11      23      13      20      26      10      12      14      10      28      26      21      26      29      12      29      18      20      24
                      Mobile        10      17      24      27      25      11      22      26      10      13      25      13      29      23      28      22      22      26      20      18
                      TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo AC            16      24      20      23      29      15      10      20      16      16      25      21      19      12      21      19      11      28      19      19
                      Mobile        26      12      10      23      18      10      10      26      16      18      20      21      20      26      29      20      11      21      25      16
                      TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca  AC            18      17      19      28      28      14      21      18      25      17      18      27      23      24      22      12      11      12      19      22
                      Mobile        10      28      27      22      18      14      22      12      14      16      21      13      27      17      15      19      21      15      29      14
                      TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28

## 2015 sale report of Buffalo city,from jan to jun

In [58]:
NY_total_sale_10y_report.loc[(slice(None),["Buffalo"],slice(None)),([2015],slice("Jan-Jun"))]

Year                              2015
Sem                            Jan-Jun
State         City    Products
NY Warehouses Buffalo AC            25
                      Mobile        20
                      TV            10

In [59]:
NY_total_sale_10y_report.loc[("NY Warehouses","Buffalo","TV"),(2015,"Jan-Jun")]

10

In [60]:
df.index.values

array([('CA Warehouses', 'Los Angeles', 'AC'),
       ('CA Warehouses', 'Los Angeles', 'Mobile'),
       ('CA Warehouses', 'Los Angeles', 'TV'),
       ('CA Warehouses', 'San Diego', 'AC'),
       ('CA Warehouses', 'San Diego', 'Mobile'),
       ('CA Warehouses', 'San Diego', 'TV'),
       ('CA Warehouses', 'San Francisco', 'AC'),
       ('CA Warehouses', 'San Francisco', 'Mobile'),
       ('CA Warehouses', 'San Francisco', 'TV'),
       ('NY Warehouses', 'Beacon', 'AC'),
       ('NY Warehouses', 'Beacon', 'Mobile'),
       ('NY Warehouses', 'Beacon', 'TV'),
       ('NY Warehouses', 'Buffalo', 'AC'),
       ('NY Warehouses', 'Buffalo', 'Mobile'),
       ('NY Warehouses', 'Buffalo', 'TV'),
       ('NY Warehouses', 'Ithaca', 'AC'),
       ('NY Warehouses', 'Ithaca', 'Mobile'),
       ('NY Warehouses', 'Ithaca', 'TV'),
       ('TX Warehouses', 'Arlington', 'AC'),
       ('TX Warehouses', 'Arlington', 'Mobile'),
       ('TX Warehouses', 'Arlington', 'TV'),
       ('TX Warehouses', 'Austin', 'AC'),
       ('TX Warehouses', 'Austin', 'Mobile'),
       ('TX Warehouses', 'Austin', 'TV'),
       ('TX Warehouses', 'Houston', 'AC'),
       ('TX Warehouses', 'Houston', 'Mobile'),
       ('TX Warehouses', 'Houston', 'TV')], dtype=object)

# TV sale of 10 years in all warehouses

In [61]:
tv_sales = df.xs(("TV"),level=("Products"),drop_level =False)

In [62]:
tv_sales

Year                                    2010            2011            2012            2013            2014            2015            2016            2017            2018            2019
Sem                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Products
CA Warehouses Los Angeles   TV            23      14      18      21      10      15      11      19      25      11      12      11      23      20      22      21      21      17      15      10
              San Diego     TV            19      24      17      17      11      12      22      21      18      29      22      19      13      28      18      29      10      19      22      17
              San Francisco TV            28      16      15      29      28      27      27      14      12      20      13      27      18      11      17      24      10      29      19      14
NY Warehouses Beacon        TV            12      22      26      26      15      28      15      26      12      18      17      10      21      19      24      23      26      19      19      13
              Buffalo       TV            19      22      27      19      27      12      24      28      27      28      10      16      25      26      20      25      10      27      20      20
              Ithaca        TV            13      13      11      15      12      15      27      17      10      25      20      27      17      16      13      23      15      26      15      28
TX Warehouses Arlington     TV            15      20      22      25      23      20      23      21      13      26      28      28      21      16      22      21      14      12      16      20
              Austin        TV            27      11      14      11      23      22      27      10      28      29      14      13      17      18      10      16      25      24      23      21
              Houston       TV            11      18      22      21      26      18      18      12      15      26      22      11      18      29      28      24      22      24      25      17

### In 2017 jan-jun , CA and TX

In [63]:
tv_sales.loc[("CA Warehouses"),(2017,"Jan-Jun")].sum()

57

In [64]:
tv_sales.loc[("TX Warehouses"),(2017,"Jan-Jun")].sum()

60

# all products of CA warehouse sale for 10 years, 1st Quater

In [65]:
df.loc[(slice("CA Warehouses","CA Warehouses"),slice(None),slice(None)),(slice(None),slice('Jan-Jun'))].sum()

Year  Sem
2010  Jan-Jun    176
2011  Jan-Jun    146
2012  Jan-Jun    175
2013  Jan-Jun    178
2014  Jan-Jun    181
2015  Jan-Jun    161
2016  Jan-Jun    166
2017  Jan-Jun    159
2018  Jan-Jun    170
2019  Jan-Jun    182
dtype: int64

# all products of NY warehouse sale for 10 years, 1st Quater

In [66]:
df.loc[(slice("NY Warehouses","NY Warehouses"),slice(None),slice(None)),(slice(None),slice('Jan-Jun'))].sum()

Year  Sem
2010  Jan-Jun    137
2011  Jan-Jun    187
2012  Jan-Jun    192
2013  Jan-Jun    161
2014  Jan-Jun    144
2015  Jan-Jun    184
2016  Jan-Jun    202
2017  Jan-Jun    201
2018  Jan-Jun    156
2019  Jan-Jun    186
dtype: int64

# all products of TX warehouse sale for 10 years, 1stQuater

In [67]:
df.loc[(slice("TX Warehouses","TX Warehouses"),slice(None),slice(None)),(slice(None),slice('Jan-Jun'))].sum()

Year  Sem
2010  Jan-Jun    174
2011  Jan-Jun    174
2012  Jan-Jun    179
2013  Jan-Jun    169
2014  Jan-Jun    183
2015  Jan-Jun    186
2016  Jan-Jun    165
2017  Jan-Jun    186
2018  Jan-Jun    184
2019  Jan-Jun    182
dtype: int64

# CA_TX watehouse combined sales report

In [68]:
df_CA_TX = df.drop("NY Warehouses")

In [69]:
print("total_item_sold_ca_tx_combined",df_CA_TX.sum().sum())

total_item_sold_ca_tx_combined 6971

# Q2 sale report of all warehouses in 2010

In [70]:
Q2_WH_report = df.drop(columns = ("Jan-Jun"),level = 1,axis=1)

In [71]:
Q2_WH_report.loc[:,2010]

Sem                                   Jul-Dec
State         City          Products
CA Warehouses Los Angeles   AC             24
                            Mobile         15
                            TV             14
              San Diego     AC             22
                            Mobile         27
                            TV             24
              San Francisco AC             14
                            Mobile         25
                            TV             16
NY Warehouses Beacon        AC             11
                            Mobile         17
                            TV             22
              Buffalo       AC             24
                            Mobile         12
                            TV             22
              Ithaca        AC             17
                            Mobile         28
                            TV             13
TX Warehouses Arlington     AC             18
                            Mobile         10
                            TV             20
              Austin        AC             28
                            Mobile         11
                            TV             11
              Houston       AC             25
                            Mobile         17
                            TV             18